
{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="{% static 'itm/https://fonts.googleapis.com/css?family=Open+Sans:400'%}" rel="stylesheet" />
	<link href="{% static 'itm/css/templatemo-style.css'%}" rel="stylesheet" />


</head>

<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="container " >
			</div>
		<main>
			<div class="tm-section tm-container-inner ">
				<div class="row">

					<div class="col-md-12">
						<figure class="tm-description-figure">
							<img src="{{pr.img.url}}" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-12">
						<div class="tm-description-box"> 
							<h4 class="tm-gallery-title">{{pr.name}}</h4>
							<p><b>{{pr.desc}}</b></p><br>
							<p>Price:{{pr.price}}</p><br>
							<p>Stock Availability:{{pr.stock}}</p>
							{% if pr.stock <= 0 %}
							<h1 style="color:red">sorry No stock left</h1>
							{% else %}
<!--							<a href="{% url 'addcart' pr.id %}" class="tm-btn tm-btn-1 tm-link-to-services">Add to cart</a>-->
							{% endif %}
							<a href="{% url 'addcart' pr.id %}" class="tm-btn tm-btn-default tm-right">Add to cart</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script src="{% static 'itm/js/jquery.min.js'%}"></script>
	<script src="{% static 'itm/js/parallax.min.js'%}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>

